.container {
    display: flex;
}

.link {
    text-decoration: none;
    color: inherit;
}

.app {
    color: var(--black);
    background: linear-gradient(
      106.37deg,
      #ffe1bc 29.63%,
      #ffcfd1 51.55%,
      #f3c6f1 90.85%
    );
}


@media screen and (max-width: 1200px) {
    .container{
      grid-template-columns: 10% 50% auto;
      overflow-y: scroll;
    } 
  }

  @media screen and (max-width: 768px) {
    .container{
      grid-template-columns: 1fr;
    } 
  }
  