.small-widget{
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
}

.small-widget-title {
    font-size: 20px;
}

.small-widget-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.small-widget-list-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

.small-widget-list-item img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.small-widget-user {
    display: flex;
    flex-direction: column;
}

.small-widget-username {
    font-size: 20px;
    font-weight: 600;
}

.small-widget-jobtitle {
    font-weight: 300;
}

.small-widget-btn {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.small-widget-icon {
    font-size: 16px !important;
    margin-right: 5px;
}


@media screen and (max-width: 1200px) {
    .small-widget-list-item {
      top: 2rem;
      height: 45vh;
      left: 6rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .small-widget-list-item {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }