.ind-product {
    padding: 50px;

}

.img-container {
    flex: 1;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.indiv-img {
    width: 30%;
    height: 50%;
    object-fit: cover;

}

.info-container {
    flex: 1;
    padding: 0px 50px;

}

h1 {
    font-size: 200%;
    text-align: center;
    margin: 20px;
}

p {
    font-size: 300%;
    padding: 50px;
}

.description-container {
    margin: 20px 0px;
    font-size: 30px;
}

.add-to-cart-btn {
    padding: 5px;
}

.cart-wrapper {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.add-amount {
    width: 40px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}