.filter-container {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    font-size: 300%;
    margin-top: 60px;
}

.performance-hero-image {
    background: url('../assets/images/brzligth.jpg') center center/cover no-repeat;
    height: 50vh;
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter {
    margin: 20px;

}

.filter select {
    padding: 10px;
    margin-right: 20px;

}