.individual-product-container {
    flex: 1;
    margin-top: 10%;
    min-width: 500px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   

}

.product-info {
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}

.product-img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.favorite-icon {
    color: blueviolet;
}