.filter-container {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
    font-size: 300%;
    margin-top: 60px;
}

.performance-hero-image {
    background: url('../assets/images/performance.jpg') center center/cover no-repeat;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter {
    margin: 20px;

}

.select {
    padding: 10px;
  margin-right: 20px;

}