.category-container {
    display: flex;
    padding: 30px;
    margin: 20px;
    justify-content:space-evenly;
}

.category-img {
    width: 100%;
    height: 100%;

}

.category-title {
    font-size: 150%;
    margin: 10px;
    padding: 10px;

}

.category-btn {
    margin: 50px;
}