.hero-image-container {
   background:url(../assets/images/race-drift.gif) center center/cover no-repeat; 
   height: 80vh;
   width:100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

video {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-image-container h1 {
    font-size: 300%;
    margin-top: -500px;
    color: azure;
    
}

.hero-btn {
    margin-top: 50px;
    
}

.hero-btn .btn {
    margin: 6px;
}

.hero-img {
    width: 100px;
    object-fit: contain;
    margin-bottom: 15px;
}


@media screen and (max-width:960px) {
    .hero-image-container h1 {
        font-size: 60px;
        margin-top: -500px;
        text-align: center;
    }
}