.banner-container {
    padding: 20px;
    margin: 15px;
    height: 50%;
    background-color: azure;
    display: flex;
    align-content: center;
    justify-content: center;


}

.banner-title {
    font-size: 200%;
    margin: 50px;
    text-align: center;

}

.banner-description {
    font-size: 150%;
    text-align: center;

}

#standard-basic {
    align-items: center;
    text-align: center;
}


.banner-btn {
    color: deeppink;
}
