.footer-container {
    background-color: black;
}

.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;

}

.footer-text p {
    font-size: 15px;
    margin: 10px;

}